In [8]:
import pandas as pd
import numpy as np

df=pd.read_csv('mercedesbenz.csv',usecols=['X1','X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [9]:
pd.get_dummies(df).shape

#See that from 2 columns we now have 71 columns i.e. 69 columns have been added

(4209, 71)

In [10]:
len(df['X1'].unique())

27

In [11]:
len(df['X2'].unique())

44

In [12]:
for i in df.columns:
    print(i,':',len(df[i].unique()),'labels')

X1 : 27 labels
X2 : 44 labels

In [13]:
#For re-mapping we'll capture all the labels and convert them to a dictionary

df.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [15]:
#Now we'll store this dictionary in a variable

df_frequency=df.X2.value_counts().to_dict()

print(df_frequency)

{'as': 1659, 'ae': 496, 'ai': 415, 'm': 367, 'ak': 265, 'r': 153, 'n': 137, 's': 94, 'f': 87, 'e': 81, 'aq': 63, 'ay': 54, 'a': 47, 't': 29, 'k': 25, 'i': 25, 'b': 21, 'ao': 20, 'ag': 19, 'z': 19, 'd': 18, 'ac': 13, 'g': 12, 'ap': 11, 'y': 11, 'x': 10, 'aw': 8, 'at': 6, 'h': 6, 'al': 5, 'an': 5, 'q': 5, 'av': 4, 'ah': 4, 'p': 4, 'au': 3, 'am': 1, 'j': 1, 'af': 1, 'l': 1, 'aa': 1, 'c': 1, 'o': 1, 'ar': 1}

In [16]:
df.X2=df.X2.map(df_frequency)

df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

In [17]:
df_frequency=df.X1.value_counts().to_dict()

print(df_frequency)

{'aa': 833, 's': 598, 'b': 592, 'l': 590, 'v': 408, 'r': 251, 'i': 203, 'a': 143, 'c': 121, 'o': 82, 'w': 52, 'z': 46, 'u': 37, 'e': 33, 'm': 32, 't': 31, 'h': 29, 'y': 23, 'f': 23, 'j': 22, 'n': 19, 'k': 17, 'p': 9, 'g': 6, 'd': 3, 'q': 3, 'ab': 3}

In [18]:
df.X1=df.X1.map(df_frequency)

df.head()

    X1   X2
0  408    6
1   31    4
2   52  137
3   31  137
4  408  137